*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* cuộn mượt hơn */
}
/* commom: class chung */
.clear{
    clear: both;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
    
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 18px;
    cursor: pointer;
    border: none;
    text-align: center;
}
.btn:hover{
    background-color: #757575;

}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.3333%;
}
.text-white{
    color: #fff!important;
}
.text-center{
    text-align: center!important;
}
.pull-right{
    float: right !important;
}
.pb{
    padding-bottom: 112px;
}


#header{
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
   
}
#nav{
    display: inline-block;
}
#nav,.subnav{
    list-style: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 1px 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav >li:hover> a,
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 16px;
    position: absolute;
    top: 12px;
   
}
#header .mobile-menu-btn{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 23px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
    
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .moblie-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;/* 50% chiều ngang của chính nó */
    background: url(../img/slider/chicago.jpg)top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ccc;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    
}
#slide .text-description{
    font-size: 15px;
    margin-top: 20px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
    
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding: 64px 0 112px;
   
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 32px;
    
}
#content .member-item{
    text-align: center;
}
#content .member-name{
    font-size: 15px;
    
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd ;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quality{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.places-list{
    margin-top: 16px;
    display: inline-flex;

}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-content{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info .fas {
    width: 30px!important;
    display: inline-block;
    
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.map-section img{
    width: 100%;

}


#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social-slist{
    font-size: 24px;
    
}
#footer .socials-list a{
    color: rgba(0,0,0,0.7);
    text-decoration: none;
}
#footer .socials-list a:hover, #footer .copyright a:hover
{
    color: rgba(0,0,0,0.3);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.7);
}
#footer .copyright a{
    color: rgba(0,0,0,0.7);
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
   
}
.open{
    display: flex;
}
.modal-container{
    width: 900px;
    max-width: calc(100% - 32px);
    background: #fff;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease-in 0.4s;
}

header.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor:pointer;
    opacity: 0.8;

}
.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;

}
.modal-input{
    border: 1px solid#ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
button#buy-ticket {
    width: 100%;
    font-size: 15px;
    padding: 18px;
    text-transform: uppercase;
    background: #009688;
    border: none;
    color: #fff;
    cursor: pointer;
}
button#buy-ticket:hover{
    color: #000;
    background: #ccc;
}
.modal-help {
    text-align: right;
    font-size: 15px;
    padding: 16px;
}
.modal-help a{
    color: #2196F3;
}
@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-140px);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* @media (max-width: ) and (min-width:){

} */
